$textbox-border-color: #d5d5d5;

$button-background-color: #eee;
$button-border-color: darken($button-background-color, 10);
$button-text-color: #666;

$status-text-color: #fff;
$status-good-background-color: green;
$status-bad-background-color: red;
